dist/
work/
MailNotifyCore/bin/
MailNotifyCore/gen/
MailNotifyFree/bin/
MailNotifyFree/gen/
MailNotifyFree/proguard/
MailNotifyPlus/bin/
MailNotifyPlus/gen/
MailNotifyPlus/proguard/
MailNotifyLiveViewPlugin/bin/
MailNotifyLiveViewPlugin/gen/
MailNotifyLiveViewPlugin/proguard/
*.bak
