<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.assemble.mailnotify" android:versionName="3.5.1" android:versionCode="342">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity android:name=".EmailNotifyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmailNotifyHelpActivity" />
        <activity android:name=".EmailNotifyPreferencesActivity" />
        <activity android:name=".EmailNotifySelectAppActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name=".EmailNotifyLaunchActivity"
            android:theme="@android:style/Theme.Dialog" />
        <receiver android:name=".EmailNotifyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.slc" />
            </intent-filter>
        </receiver>
        <receiver android:name=".EmailNotificationReceiver" />
        <service android:name=".EmailNotifyService" />
        <activity android:name="net.assemble.android.MyLogActivity" />
        <activity android:name="net.assemble.android.AboutActivity"
            android:theme="@android:style/Theme.Dialog" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-sdk android:minSdkVersion="4" />
</manifest>
