<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="205" android:versionName="2.1.4"
    package="net.assemble.emailnotify">
    <application android:icon="@drawable/icon"
        android:label="@string/app_name">
        <activity android:name=".EmailNotifyActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EmailNotifyPreferencesActivity" />
        <activity android:name=".EmailNotifyPreferencesLaunchAppActivity"
            android:theme="@android:style/Theme.Dialog" />
        <receiver android:name=".EmailNotifyReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.slc" />
            </intent-filter>
        </receiver>
        <service android:name=".EmailNotifyService" />
        <activity android:name="net.assemble.android.MyLogActivity" />
        <activity android:name="net.assemble.android.AboutActivity"
            android:theme="@android:style/Theme.Dialog" />
    </application>
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <uses-sdk android:minSdkVersion="4" />
</manifest>
