<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.assemble.mailnotify"
    android:versionCode="421"
    android:versionName="4.2.1" >

    <uses-sdk
        android:minSdkVersion="4"
        android:targetSdkVersion="14" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_APN_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_WAP_PUSH" />
    <!-- <uses-permission android:name="android.permission.SEND_SMS" /> -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity
            android:name=".EmailNotifyActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="net.assemble.emailnotify.core.EmailNotifyHelpActivity" />
        <activity
            android:name="net.orleaf.android.AboutActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity android:name="net.assemble.emailnotify.core.preferences.EmailNotifyPreferencesActivity" />
        <activity
            android:name="net.assemble.emailnotify.core.preferences.EmailNotifySelectAppActivity"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".EmailNotifyLaunchActivity"
            android:exported="true"
            android:launchMode="singleInstance"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name="net.assemble.emailnotify.core.notification.EmailNotifyRestoreActivity"
            android:launchMode="singleInstance" />
        <activity android:name="net.assemble.emailnotify.core.notification.EmailNotificationHistoryActivity" />
        <activity android:name="net.orleaf.android.MyLogActivity" />
        <activity android:name="net.assemble.emailnotify.core.debug.EmailNotifyDebugActivity" />

        <service android:name="net.assemble.emailnotify.core.EmailNotifyObserveService" />
        <service android:name="net.assemble.emailnotify.core.notification.EmailNotificationService" />

        <receiver android:name="net.assemble.emailnotify.core.EmailNotifyReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
                <action android:name="android.intent.action.TIMEZONE_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REPLACED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <receiver android:name="net.assemble.emailnotify.core.EmailNotifyWapPushReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.slc" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />

                <data android:mimeType="application/vnd.wap.emn+wbxml" />
            </intent-filter>
        </receiver>
        <receiver android:name="net.assemble.emailnotify.core.notification.EmailNotificationReceiver" />
    </application>

</manifest>